.overviewBackground {
    height: 100vh;
    margin-top: 0;
    background: radial-gradient(circle, rgb(63, 61, 102) 0%, rgba(20,159,77,1) 35%, rgba(0,212,255,1) 100%);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Fontdiner Swanky', cursive;
}

.headerOverview {
    display: flex;
    justify-content: center;
}

.headerOverview h1 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 3rem;
  color: rgba(27, 49, 14, 0.555);
} 

.headerOverview h1:hover {
    color: rgba(27, 49, 14) 
}

.descriptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 2rem;
    color: rgba(27, 49, 14, 0.555);

}

.descriptionsofgame {
    width: 25%;
}

.explanation {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 1.5rem;
  color: rgba(27, 49, 14, 0.555);
}
