
.descriptionsofgame {
    display: inline-flex;
   font-size: 20px;
    border: 2px solid blue;
}

.header {
    margin-top: 25px;
    margin-left: 383px;
    margin-right: 346px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid rgba(0,0,0,0.5);
}


.descriptions {   
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

}

.descriptionsofgame {
    height: 200px;
    float: center;
    width: 350px;
    margin-left: 35px;

}


#button {
    height: 50px;
    width: 350px;
    margin-left: 34px;
    margin-top: 10px;
    
}

.keyboardinstructors {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid rgba(0,0,0,0.5);
    margin-left: 383px;
    margin-right: 346px;
}

